{{<partials-page}}
{{$page-content}}

{{> partials-overview-header}}

<h2 class="govuk-heading-m">{{#t}}pages.overview.guidanceHeading{{/t}}</h2>

{{> partials-content-links}}

<h2 class="govuk-heading-m">Overview</h2>
<p class="govuk-body">Use this service to update your details with UK Visas and Immigration(UKVI) if: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>you have ever applied to UKVI while living in the UK</li>
  <li>you have ever applied to UKVI and currently live in the UK</li>
</ul>

<p class="govuk-body">You can use this service to: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>update your home address</li>
  <li>update postal address</li>
  <li>update your legal representative's address</li>
  <li>update an existing dependant's details</li>
  <li>inform UKVI of a change in your legal representation</li>
</ul>

<h3 class="govuk-heading-s">Who can use this service</h3>
<p class="govuk-body">Applicants, authorised legal representatives and helpers can use this service.</p>
<p class="govuk-body">If you are an accession state worker or in the UK under the Workers Registration Scheme, you do not need to tell us about an address change.</p>
<p class="govuk-body">If you applied under the EU Settlement Scheme, or you are a British national(overseas), you can  </p>

<nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
  <div class="govuk-pagination__next">
    <a class="govuk-link--no-visited-state govuk-link--no-underline govuk-pagination__link" href="/what-you-need" rel="next">
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">What you will need</span>
    </a>
  </div>
</nav>

{{/page-content}}
{{/partials-page}}