{{<partials-page}}
{{$page-content}}

{{> partials-overview-header}}

<h2 class="govuk-heading-m">{{#t}}pages.overview.guidanceHeading{{/t}}</h2>

{{> partials-content-links}}

<h2 class="govuk-heading-m">Proof of address</h2>
<p class="govuk-body">If you are updating an address, you will need to provide proof of the new address.
   This must have been issued within the last 3 months and must show your full name and address. </p>

<p class="govuk-body">Examples of acceptable proof of address documents are: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>bank statements</li>
  <li>benefit statements</li>
  <li>credit card statements</li>
  <li>mortgage statements</li>
  <li>NHS letters</li>
  <li>rental agreements (this must be the full document, signed by the landloard and tenants)</li>
  <li>utility bills</li>
</ul>

<p class="govuk-body">You can upload these as a clear image of a paper copy or digital copy of the document. </p>

<h3 class="govuk-heading-s">If you are living with a friend or relative</h3>
<p class="govuk-body">You will need to provide: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>photographic proof of your identity</li>
  <li>photographic proof of your friend or relative's identity</li>
  <li>a signed letter from the friend or relative confirming they are
     providing your with accommodation (this must be dated within the last 3 months)</li>
  <li>a proof of address document for the friend or relative</li>
</ul>

<h3 class="govuk-heading-s">If you are living in accomodation provided by a UKVI housing partner</h3>
<p class="govuk-body">This can be because you have applied for asylum in the UK. Examples of UKVI housing partners
  include G4S, Serco, Clearsprings, Migrant Help, Mears or Clearel.
</p>
<p class="govuk-body">You will need to provide a letter that is: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>dated within the last 3 months</li>
  <li>signed by yourself and the accommodation provider</li>
</ul>

<h3 class="govuk-heading-s">If you are living in accommodation provided by a registered charity</h3>
<p class="govuk-body">This can be because you have been a victim of child abuse or domestic violence. 
  You will need to provide a letter from the registered charity or organisation dated within the last 3 months.
</p>

<h3 class="govuk-heading-s">If you are living in a hotel or similar</h3>
<p class="govuk-body">You will need to provide a letter that: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>confirms you are a resident at the hotel</li>
  <li>includes your room number and the full address</li>
  <li>is dated within the last 3 months</li>
  <li>is on letterheaded stationary and signed by the hotel manager</li>
</ul>

<nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link--no-visited-state govuk-link--no-underline govuk-pagination__link" href="/proof-of-identity" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Proof of identity</span>
    </a>
  </div>
  <div class="govuk-pagination__next">
    <a class="govuk-link--no-visited-state govuk-link--no-underline govuk-pagination__link" href="/update-details" rel="next">
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Update your details</span>
    </a>
  </div>
</nav>


{{/page-content}}
{{/partials-page}}