{{<partials-page}} {{$encoding}}enctype="multipart/form-data" name="file-upload-form" {{/encoding}} {{$page-content}}
  <p>{{#t}}pages.upload-identity.upload-identity-intro{{/t}}
  {{#t}}pages.upload-identity.upload-identity-instructions{{/t}}</p>
  <p>{{#t}}pages.upload-identity.upload-identity-requirements{{/t}}</p>

  <div class="govuk-form-group" id="hofFileUpload">
    <label class="govuk-label bold" for="file-upload">
      Upload a file
    </label>
    <p id="file-upload-error-maxFileSize" class="govuk-error-message govuk-!-display-none">
      <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.maxFileSize{{/t}}
    </p>
    <p id="file-upload-error-fileType" class="govuk-error-message govuk-!-display-none">
      <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.fileType{{/t}}
    </p>
    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" value="identity-documents">
    <div id="upload-page-loading-spinner" class="spinner-container">
      <div class="spinner-loader"></div>
      <span class="spinner-message">Uploading your document...</span>
    </div>
  </div>

  {{^values.identity-documents}}
  <h2 class="govuk-heading-m">No documents uploaded</h2>
  {{/values.identity-documents}}

  {{#values.identity-documents.length}}
  <h2 class="govuk-heading-m">You have uploaded {{values.identity-documents.length}} file(s)</h2>

  <div id="uploaded-documents" class="govuk-width-container">
    {{#values.identity-documents}}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          {{name}}
        </div>
        <div class="govuk-grid-column-one-quarter">
          <a href="?delete={{id}}" class="govuk-link">{{#t}}buttons.delete{{/t}}</a>
        </div>
      </div>
      <div class="file-upload-hrline"></div>
    {{/values.identity-documents}}
  </div>

  {{/values.identity-documents.length}}

  {{#markdown}}what-file-types{{/markdown}}

  {{#markdown}}what-counts-as-proof-of-identity{{/markdown}}

  <button class="govuk-button govuk-button" name="continueWithoutUpload" value="identity-documents">
    {{#t}}buttons.continue{{/t}}
  </button>

  {{/page-content}}
  {{/partials-page}}