{{<partials-page}}
  {{$page-content}}

    {{^values.postal-address-documents}}
      <h2 class="govuk-heading-m">No documents uploaded</h2>
    {{/values.postal-address-documents}}

    {{#values.postal-address-documents.length}}
      <h2 class="govuk-heading-m">You have uploaded {{values.postal-address-documents.length}} file</h2>
      <table class="loop-summary-table">
        <tbody class="govuk-table__body">
        {{#values.postal-address-documents}}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{name}}</td>
            <td><a href="?delete={{id}}" class="govuk-link">{{#t}}buttons.delete{{/t}}</a></td>
          </tr>
        {{/values.postal-address-documents}}
        </tbody>
      </table>
    {{/values.postal-address-documents.length}}

    <p class="govuk-!-margin-top-8"><a href="{{baseUrl}}/{{uploadPage}}" class="govuk-link">{{values.test}}{{#t}}buttons.upload-another-file{{/t}}</a></p>

    {{#input-submit}}continue{{/input-submit}}

  {{/page-content}}
{{/partials-page}}