  <p class="govuk-body">
    <a {{#disableLinkOverview}} role="link" aria-disabled="true"{{/disableLinkOverview}}
    {{^disableLinkOverview}}href="/overview" class="govuk-link--no-visited-state" {{/disableLinkOverview}}>Overview</a>
  </p>

  <p class="govuk-body">
    <a {{#disableLinkWhatYouNeed}} role="link" aria-disabled="true"{{/disableLinkWhatYouNeed}}
    {{^disableLinkWhatYouNeed}}href="/what-you-need" class="govuk-link--no-visited-state" {{/disableLinkWhatYouNeed}}>What you will need</a>
  </p>

  <p class="govuk-body">
    <a {{#disableLinkProofOfIdentity}} role="link" aria-disabled="true"{{/disableLinkProofOfIdentity}}
    {{^disableLinkProofOfIdentity}}href="/proof-of-identity" class="govuk-link--no-visited-state" {{/disableLinkProofOfIdentity}}>Proof of Identity</a>
  </p>

  <p class="govuk-body">
    <a {{#disableLinkProofOfAddress}} role="link" aria-disabled="true"{{/disableLinkProofOfAddress}}
    {{^disableLinkProofOfAddress}}href="/proof-of-address" class="govuk-link--no-visited-state" {{/disableLinkProofOfAddress}}>Proof of Address</a>
  </p>

  <p class="govuk-body">
    <a {{#disableLinkUpdateDetails}} role="link" aria-disabled="true"{{/disableLinkUpdateDetails}}
    {{^disableLinkUpdateDetails}}href="/update-details" class="govuk-link--no-visited-state" {{/disableLinkUpdateDetails}}>Update your details</a>
  </p>
